$color: #353535;
$red: rgb(224,62,62);
* {
    margin: 0;
    padding: 0;
    letter-spacing: .015em;
    //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: halyard-display, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    strong {
        font-weight: 600;
    }
}
h1, h2, h3, h4, h5, p {
    color: $color;
    line-height: 1;
}
a {
    color: $color;
    text-decoration: underline;
    font-weight: 600;
}

html {
    overflow-x: hidden;
    font-size: 18px;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.button {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background: $color;
    padding: 20px 40px;
    transition-duration: .4s;
    &:hover {
        background: #000;
    }
}
.page-body {
    width: 100vw;
    max-width: 1100px;
    padding: 100px;
    padding-bottom: 0;
    box-sizing: border-box;
}

.hero {
    height: calc(100vh - 80px);
    width: 100%;
    margin-top: 80px;
    padding: 80px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url('../img/books.jpg');
    background-size: cover;
    background-position: center;
    .info {
        position: absolute;
        width: 100%;
        background: #ff4d4d;
        top: 80px;
        left: 0;
        padding: 16px 80px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
    }
    .section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        h1 {
            font-size: 7vw;
            font-weight: 400;
            max-width: 75vw;
            line-height: 1;
        }
        p {
            padding-bottom: 36px;
            margin: 0;
            font-size: 22px;
        }
        .text {
            padding: 36px 0;
            max-width: 600px;
        }
    }
}

p {
    margin-bottom: 1em;
    line-height: 1.35;
    font-size: 18px;
    a {
        font-weight: 400;
    }
}
.anchor {
    position: relative;
    top: -80px;
}
.section h2 {
    font-size: 80px;
    font-weight: 400;
    text-decoration: none;
}
.instructors {
    margin: 60px 0;
    hr {
        border: 0px solid #ddd;
        border-top: 1px solid #ddd;
        margin: 30px 0;
    }
    .row {
        display: flex;
        flex-direction: row;
        .column {
            display: flex;
            flex-direction: column;
            img {
                margin-right: 40px;
                width: 140px;
            }
            p:last-child {
                margin-bottom: 0;
            }
            strong {
                font-size: 2em;
                font-weight: 400;
            }
        }
    }
}
.overview {
    margin: 60px 0;
    h2 {
        padding-bottom: 30px;
    }
    #Overview {
        font-size: 80px;
        font-weight: 400;
        text-decoration: none;
    }
    ul {
        padding-left: 40px;
        li {
            margin-bottom: .4em;
        }
        margin-bottom: 1em;
    }
}
.schedule {
    margin: 60px 0;
    h2 {
        padding-bottom: 30px;
    }
    #Schedule {
        font-size: 80px;
        font-weight: 400;
        text-decoration: none;
    }
    hr {
        border: 0px solid #ddd;
        border-top: 1px solid #ddd;
        margin: 20px 0;
    }
    .indent {
        margin-left: 20px;
    }
}
.enrollment {
    margin: 60px 0;
    h2 {
        padding-bottom: 30px;
    }
    #Enrollment {
        font-size: 80px;
        font-weight: 400;
        text-decoration: none;
    }
    hr {
        border: 0px solid #ddd;
        border-top: 1px solid #ddd;
        margin: 20px 0;
    }
}
.interestform {
    font-size: 80px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 4px solid $color;
    transition-duration: .4s;
    &:hover {
        color: black;
        border-color: black;
    }
}
.footer {
    margin-top: 120px;
    width: 100vw;
    padding: 100px 30px;
    box-sizing: border-box;
    background: $color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        color: white;
        font-size: 40px;
        font-weight: 400;
        max-width: 900px;
        width: 100%;
        margin-bottom: 30px;
    }
    p {
        color: white;
        font-size: 18px;
        font-weight: 400;
        max-width: 900px;
        width: 100%;
        text-decoration: none;
        margin-bottom: 10px;
    }
    a {
        color: white;
        font-size: 18px;
        font-weight: 400;
        max-width: 900px;
        width: 100%;
        text-decoration: none;
        margin-bottom: 10px;
    }
    #bottom {
        color: white;
        opacity: 0.6;
        max-width: 900px;
        margin-top: 60px;
        width: 100%;
    }
}


@media screen and (max-width: 1050px) {
    .hero {
        height: calc(100vh - 60px);
        margin-top: 60px;
        .info {
            top: 60px;
        }
    }
}
@media screen and (max-width: 830px) {
    .instructors {
        .row {
            flex-direction: column;
            .column {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                img {
                    margin-bottom: 30px;
                    width: 140px;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .hero {
        padding: 80px 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .info {
            position: absolute;
            width: 100%;
            background: #ff4d4d;
            left: 0;
            padding: 16px 30px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 18px;
            font-weight: 400;
            text-decoration: none;
            text-align: center;
        }
        .section {
            h1 {
                font-size: 50px;
                font-weight: 400;
                max-width: 100vw;
            }
            p {
                padding: 40px 0;
                max-width: 600px;
                font-size: 18px;
            }
        }
    }
    .page-body {
        padding: 30px;
        padding-top: 100px;
    }
    .section h2 {
        font-size: 60px;
        font-weight: 400;
        text-decoration: none;
    }
}


@media screen and (max-height: 750px) {
    .hero {
        height: auto;
        width: 100%;
        padding: 120px 40px 80px 40px;
        h1 {

        }
    }
}